/0001-training-common/target/
/0002-shopping-common/target/
/0301-training-di/target/
/0301-training-di-answer/target/
/0402-shopping-stereotype-annotation/target/
/0402-shopping-stereotype-annotation-answer/target/
