/0001-training-common/target/
/0002-shopping-common/target/
/0301-training-di/target/
/0301-training-di-answer/target/
/0402-shopping-stereotype-annotation/target/
/0402-shopping-stereotype-annotation-answer/target/
/0451-training-profile/target/
/0451-training-profile-answer/target
/0502-shopping-at-bean/target
/0502-shopping-at-bean-answer/target
/0602-shopping-springjdbc/target
/0602-shopping-springjdbc-answer/target
/0701-training-transaction/target
/0701-training-transaction-answer/target
